@media screen and (max-width: 768px) /*Для экранов менее 768px*/ 
{
/*Для header */
.logo {
    margin-left: 40%;
}
.active {
	display: none;  /*Скрыть Home*/
}
/*.container {
  width: 100%;
  margin: 0 auto;
}*/
.menu {
	margin-left: 13px;
  display: flex;
  justify-content: space-around;
    
}
.menu li {
  font-size: 15px;
  margin-right: 18px;
}
.offer-content{
	margin-left: 3%;

}
.btn {
  margin-top: 40%;
  display: block;
    
}
.offer-content h1 {
  font-size: 55px;
  margin-top: -25%;
}
.nav {
	display: block;
}
.topbutton {
    display: none; 
}
}

@media screen and (max-width: 950px){
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 22px;
	}
.one {
    height: 715px;
}
.two {
    margin-top: 100px;
}
.offer2 {
    padding: 50px 30px 0 30px;
    display: block;
    margin: 0 auto;
    width: 450px;
}
.offer-content2 {
    text-align: center;
}
.offer-content2 h2 {
    width: 465px;
}
.offer-content2 p {
    
    width: 465px;
}
.active2 {
	display: none;
}
.kar {
    margin-top: 30px;
}
.kar img {
    width: 100%;
}
}
@media screen and (max-width: 1170px){
.offer2 {
    padding: 100px 30px 0 30px;
}
.two {
    padding: 50px 30px 0 30px;
}
.kartinki {
    text-align: center;
}
.rzd1 {
    padding: 0;
    width: auto;
}
.rzd2 {
    padding: 0;
    width: auto;
}
.grkart img {
    width: 90%;
}
.funfact {
    padding-right: 30px;
}

}
@media screen and (max-width: 550px){
.two {
    height: 1293px;
}
.rzd1 {
    display: block;
}
.rzd2 {
    display: block;
}
.offer2 {
    width: auto;
    padding: 50px 30px 0 30px;
}
.zmist {
	padding: 50px 30px 0 30px;
}
.grafic_container {
  padding: 50px 30px 0 30px;
  }
.offer-content2 {
    width: auto;
}
.offer-content2 h2 {
    width: auto;
}
.offer-content2 p {
    width: auto;
}
.kar {
    width: auto;
}
.grkart img {
    width: 88%;
}
.row {
display: block;
}
.foto {
    text-align: center;
}
.icon11{
	margin: 0 auto;
}
.otziv {
width: 100%;
height: 100%;
}
.womanface {
 height: 100%;
 margin: 0 auto;
}
.vnutri {
    display: block;
}
.txt {
	text-align: center;
	padding-top: 20px;
}
.list {
	padding-bottom: 20px;
}
.four {
    height: 100%;
}
.vnutri p {
	font-size: 12px;
	text-transform: none;
}
.rzd3 {
  width: 100%;
	display: block;
	padding-left: 0;
}
.funfact {
	padding-right: 0;
}
.middle {
	height: 900px;
}
.forma {
	width: 310px;
	height: 444px;
}
.form-input1 {
	width: 70%;
	padding-left: 0;
}
.form-input2 {
	width: 70%;
	float: none;
	margin-top: 28px;
	padding-left: 0;
}
.form-input3 {
	width: 70%;
	padding-left: 0;
}
.name_email {
	text-align: center;
}
.message {
	text-align: center;
}
.twit {
margin-top: 0;
}
.span {
margin-top: -32px;
}
}
@media (min-width: 551px) and (max-width: 768px) {
.grkart img {
    width: 90%;
}
.womanface {
 height: 100%;
}
.vnutri p {
	font-size: 12px;
}
.forma {
	width: 570px;
	height: 444px;
}
.form-input1 {
	width: 70%;
}
.form-input2 {
	width: 70%;
	float: none;
	margin-top: 28px;
}
.form-input3 {
	width: 70%;
}
.name_email {
	text-align: center;
}
.message {
	text-align: center;
}
.span {
	text-align: right;
	margin-right: 67px;
}

}